Frontend-Web/node_modules
Frontend-Web/.next
Frontend-Web/.pnp
Frontend-Web/.pnp.*
Frontend-Web/.yarn/*
Frontend-Web/!.yarn/patches
Frontend-Web/!.yarn/plugins
Frontend-Web/!.yarn/releases
Frontend-Web/!.yarn/versions
Frontend-Web/coverage
Frontend-Web/.next/
Frontend-Web/out/
Frontend-Web/build
Frontend-Web/.DS_Store
Frontend-Web/*.pem
Frontend-Web/npm-debug.log*
Frontend-Web/yarn-debug.log*
Frontend-Web/yarn-error.log*
Frontend-Web/.pnpm-debug.log*
Frontend-Web/.vercel
Frontend-Web/*.tsbuildinfo
Frontend-Web/next-env.d.ts

Primary-Server/node_modules
Primary-Server/dist
Primary-Server/.pnp
Primary-Server/.pnp.*
Primary-Server/.yarn/*
Primary-Server/!.yarn/patches
Primary-Server/!.yarn/plugins
Primary-Server/!.yarn/releases
Primary-Server/!.yarn/versions
Primary-Server/coverage
Primary-Server/.next/
Primary-Server/out/
Primary-Server/build
Primary-Server/.DS_Store
Primary-Server/*.pem
Primary-Server/npm-debug.log*
Primary-Server/yarn-debug.log*
Primary-Server/yarn-error.log*
Primary-Server/.pnpm-debug.log*
Primary-Server/.vercel
Primary-Server/*.tsbuildinfo
Primary-Server/next-env.d.ts
Primary-Server/disk

Web-Scraper/logs
Web-Scraper/*.log
Web-Scraper/npm-debug.log*
Web-Scraper/yarn-debug.log*
Web-Scraper/yarn-error.log*
Web-Scraper/pnpm-debug.log*
Web-Scraper/lerna-debug.log*
Web-Scraper/node_modules
Web-Scraper/dist
Web-Scraper/dist-ssr
Web-Scraper/*.local

Solidity-Contracts/node_modules
Solidity-Contracts/build
Solidity-Contracts/*.json
Solidity-Contracts/.vscode/
Solidity-Contracts/.idea/
Solidity-Contracts/.DS_Store
Solidity-Contracts/Thumbs.db
Solidity-Contracts/ganache.db
Solidity-Contracts/ganache.log
Solidity-Contracts/contracts/**/*.json
Solidity-Contracts/npm-debug.log*
Solidity-Contracts/yarn-debug.log*
Solidity-Contracts/yarn-error.log*

AI-Server/__pycache__/
AI-Server/*.py[cod]
AI-Server/*$py.class
AI-Server/.venv/
AI-Server/venv/
AI-Server/env/
AI-Server/.idea/
AI-Server/.vscode/
AI-Server/.DS_Store
AI-Server/.AppleDouble
AI-Server/.LSOverride
AI-Server/Thumbs.db
AI-Server/logs/
AI-Server/*.log
AI-Server/npm-debug.log*
AI-Server/.env
AI-Server/.env.local
AI-Server/__pycache__/
AI-Server/*.pyc
AI-Server/.pytest_cache/
AI-Server/coverage/
AI-Server/coverage.xml
AI-Server/.coverage
AI-Server/build/
AI-Server/dist/
AI-Server/.eggs/
AI-Server/*.egg-info/
AI-Server/.dockerignore
AI-Server/Dockerfile
AI-Server/docker-compose.yml
AI-Server/db.sqlite3
AI-Server/.db/
AI-Server/.history
AI-Server/.ipynb_checkpoints

*.env